/************************************
  	Scroll up
*************************************/
#scrollUp {
	position: fixed;
	bottom: 30px;
	right: 30px;
	@include button($red,$white,14px,999px,2px,$red,8px,$white,$red,$red);
	height: 40px;
	width: 40px;
	text-align: center;
}