/************************************
   Product
*************************************/
.product-block {
	position: relative;
	margin-bottom: 30px;
	&:hover {
		.product-select {
			transform: translateX(0);
		}
	}
	.product-img {
		overflow: hidden;
		max-height: 310px;
		display: block;
		margin-bottom: 15px;
		@extend .hvr-lighter;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.product-select {
		position: absolute;
		bottom: 10px;
		right: 10px;
		z-index: 10;
		transform: translateX(100px);
		-webkit-transition: all .4s cubic-bezier(.42,.97,.52,1.49);
		   -moz-transition: all .4s cubic-bezier(.42,.97,.52,1.49);
		    -ms-transition: all .4s cubic-bezier(.42,.97,.52,1.49);
		     -o-transition: all .4s cubic-bezier(.42,.97,.52,1.49);
		        transition: all .4s cubic-bezier(.42,.97,.52,1.49);
		button {
			@include button($white,$title,16px,0px,0px,$red,10px 10px,$red,$white,$red);
		}
	}
	.product-detail {
		.product-name {
			margin-bottom: 5px;
			a {
				@include link-regular(16px,$regular,1,$red);
				text-transform: capitalize;
			}
		}
		.product-price {
			@include font-bold(18px,$title,1);
			&:before {
				content: "$";
			}
		}
	}
}

@include mobile {
	.product-block {
		.product-select {
			transform: translateX(0);
		}
	}
}

@include tablet {
	.product-block {
		.product-select {
			transform: translateX(0);
		}
	}
}

@include small-desktop {
	.product-block {
		.product-select {
			transform: translateX(0);
		}
	}
}

.no-gutter-xs {

}