* {
    font-family: sans-serif;
}

h1,
h3 {
    color: midnightblue;
}

.centered {
    display: flex;
    justify-content: center;
}

div.vertical-spacer {
    height: 5vh;
}

#title {
    background-color: bisque;
}

#footer {
    flex-direction: column;
    align-items: center;
}